<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Todo List!</title>
  </head>
  <body>
    <div class="container" id="app">
        <div class="row" style="margin-top:100px">
            <div class="col-md-8 mx-auto">
            
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="text" v-model="new_item" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-success" @click="addItem">Add Item</button>
                        </div>
                    </div>
                </div>
                <h5 style="margin-top:10px">TODO List</h5>
                <ul class="list-group" >
                    <li class="list-group-item" v-for="(item, index) in items">
                        <img v-if="item.is_completed=='true'" src="https://cms-assets.tutsplus.com/uploads/users/523/posts/32694/preview_image/tutorial-preview-small.png" width="30px"/>
                        {{ item.content }} 
                        <div style="float:right">
                            <button :class="['btn btn-sm btn-primary', {'btn-warning' : item.is_completed=='true' }]" @click="markCompleted(index, item)">{{ item.is_completed=='true' ? 'Undo' : 'Done'  }}</button>
                            <button class="btn btn-sm btn-info" @click="trash(index, item)">Trash</button>
                        </div>
                    </li>
                </ul>

                <div v-if="this.deleted_items.length > 0" style="margin-top:20px">
                    <h5>Trashed</h5>
                    <ul class="list-group" style="margin-top:10px">
                        <li class="list-group-item" v-for="(item, index) in deleted_items">
                            {{ item.content }}
                            <div style="float:right">
                                <button class="btn btn-sm btn-warning" @click="undo_trash(index, item)">Undo</button>
                                <button class="btn btn-sm btn-danger" @click="deleteItem(index, item)">Delete</button>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script>
    let app = new Vue({
        el: '#app',
        data: {
            new_item: '',
            items: [],
            deleted_items: []
        },
        methods: {

            addItem() {
                axios.post('/api/items', { text: this.new_item }).then(response => {
                    this.items.push(response.data);
                    this.new_item = '';
                });
            },

            deleteItem(index, item) {
                axios.delete(`/api/items/${item._id}`)
                    .then(response => {
                        this.deleted_items.splice(index, 1);
                    });
            },

            markCompleted(index, item) {
                if (item.is_completed=='true') {
                    status = false;
                } else {
                    status = true;
                }
                axios.put(`/api/items/${item._id}`, {
                    is_completed: status
                })
                .then(response => {
                        item.is_completed = status;
                });                

            },

            trash(index, item) {
                let temp = this.items.splice(index, 1);
                this.deleted_items.push(temp[0]);
            },

            undo_trash(index, item) {
                let temp = this.deleted_items.splice(index, 1);
                this.items.push(temp[0]);
            }
        },
        mounted() {
            axios.get('/api/items').then(response => {
                this.items = response.data;
            });
        }
    }); 
  </script>

  </html>